.debugPanel {
  height: 400px;
  width: 800px;
  border: 1px solid #535353;
  /* border-top-width: 5px; */
  /* border-top-style: double; */
  margin: -1px auto 0;
  padding: 10px;
}
.header {
  border-bottom: 1px solid #535353;
  padding: 10px;
  margin: -10px -10px 0;
}
.row {
  padding: 10px 0;
}
.roomId {
  padding: 0.2em 0.5em;
  border-radius: 0.3em;
  background-color: #535353;
  color: #FFFFFF;
  cursor: default;
}
.backToList {
  /* padding: 0.2em 0.5em; */
  margin: -0.2em 0;
  width: 1.5em;
  height: 1.5em;
  border-radius: 0.3em;
  background-color: #535353;
  color: #535353;
  cursor: pointer;
  float: right;
  position: relative;
}
.backToList:before{
  content: '';
  position: absolute;
  display: block;
  width: 30%;
  height: 30%;
  border-top: 3px solid #FFFFFF;
  border-left: 3px solid #FFFFFF;
  /* background-color: #FFFFFF; */
  top: 50%;
  left: 50%;
}
.backToList:before {
  transform-origin: left center;
  transform: translate(-20%, -1.5px) rotate(-45DEG);
}
.qrblock {
  display: inline-block;
  width: 20%;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
}
.qrblock img {
  vertical-align: top;
  margin-bottom: 5px;
}
.qrplaceholder {
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
}
.playerJoined,
.playerNotJoined {
  display: inline-flex;
  flex-direction: column;
  width: 145px;
  margin: 0 5px;
  /* padding: 3.2em 0; */
  height: 148px;
  text-align: center;
  vertical-align: top;
  border-width: 1px;
  border-style: solid;
  border-color: currentColor;
  align-items: center;
  justify-content: center;
  user-select: none;
}
.playerJoined {
  cursor: pointer;
  line-height: 1.2em;
}
.playerNotJoined {
  cursor: not-allowed;
  opacity: 0.3;
  line-height: 2.4em;
}

.gameSelectingBtn {
  background-color: #FFFFFF;
  appearance: none;
  border: 1px solid #535353;
  padding: 10px 30px;
  outline: 0;
}
.gameSelected {
  background-color: #535353;
  color: #FFFFFF;
}
.roomItemWrap {
  height: 360px;
  margin: 0 -10px;
  padding: 10px;
  overflow: auto;
}
.roomItem {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 0.3em;
  border-radius: 0.3em;
  background-color: #535353;
  color: #FFFFFF;
  cursor: default;
}