.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  touch-action: manipulation;
  color: #535353;
  font-family: PressStart, Arial, Helvetica, sans-serif;
}
.joinButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7vw;
  padding: 15vw 0vw;
  appearance: none;
  outline: 0;
  width: 90%;
  background-color: #FFFFFF;
  border: 1px solid #535353;
  color: #535353;
  /* height: 30%; */
  line-height: 2;
  text-align: center;
  touch-action: manipulation;
  font-family: PressStart, Arial, Helvetica, sans-serif;
}
.selectButton {
  font-size: 7vw;
  padding: 10vw 0vw;
  background-color: #FFFFFF;
  appearance: none;
  border: 1px solid #535353;
  color: #535353;
  outline: 0;
  width: 90%;
  margin-bottom: 1vh;
  text-align: center;
  touch-action: manipulation;
  font-family: PressStart, Arial, Helvetica, sans-serif;
}
.selectButton.selected {
  background-color: #535353;
  color: #FFFFFF;
}
.score {
  font-size: 1.5em;
}
.shareToFb {
  margin-top: 15px;
  padding: 15px 30px;
  border-radius: 20px;
  display: inline-block;
  background-color: #535353;
  color: #FFFFFF;
  text-decoration: none;
}