.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  touch-action: manipulation;
  color: #000000;
  font-family: SpaceGrotesk, Arial, Helvetica, sans-serif;
}
#debug {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
}
.title {
  position: absolute;
  top: 12vw;
  left: 20vw;
  width: 60vw;
  height: 36vw;
  background-image: url("/media/images/title.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/* marquee */
.marquee {
  position: absolute;
  background-size: auto 8vw;
  background-repeat: repeat-x;
  animation: marqueeLoop 30s linear infinite alternate;
  background-color: #fcf5eb;
  z-index: 1;
}
.marquee.marqueeTop,
.marquee.marqueeBottom {
  width: 100%;
  height: 8vw;
}
.marquee.marqueeLeft,
.marquee.marqueeRight {
  width: 100vh;
  height: 8vw;
  z-index: 1;
}
.marquee.marqueeTop {
  top: -8vw;
  left: 0;
  animation: marqueeLoop 30s -30s linear infinite alternate;
}
.stage.active .marquee.marqueeTop {
  top: 0;
  transition: all 0.4s 0.2s;
}
.marquee.marqueeBottom {
  bottom: -8vw;
  left: 0;
}
.stage.active .marquee.marqueeBottom {
  bottom: 0;
  transition: all 0.4s 0.2s;
}
.marquee.marqueeLeft {
  transform: translateX(-8vw) rotate(90DEG);
  bottom: 0%;
  right: 100%;
  transform-origin: bottom right;
}
.stage.active .marquee.marqueeLeft {
  transform: translateX(0) rotate(90DEG);
  transition: all 0.4s 0.25s;
}
.marquee.marqueeRight {
  transform: translateX(8vw) rotate(-90DEG);
  bottom: 0%;
  left: 100%;
  transform-origin: bottom left;
  transition: none;
}
.stage.active .marquee.marqueeRight {
  transform: translateX(0) rotate(-90DEG);
  transition: all 0.4s 0.25s;
}
/* marquee end */

/* stage general */
.stage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #49b9e9 , #eaf9fe);
}

/* stage idle */

.stage-idle .marquee {
  background-image: url('../media/images/idle.png');
}
.stage-idle .joinButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7vw;
  padding: 15vw 0vw;
  appearance: none;
  outline: 0;
  width: 90%;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  color: #000000;
  line-height: 2;
  text-align: center;
  touch-action: manipulation;
  font-family: PressStart, Arial, Helvetica, sans-serif;
}
.stage .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #49b9e9 , #eaf9fe);
  z-index: 0;
}
.stage-idle .title {
}
.stage-idle .counter {
  position: absolute;
  width: 60vw;
  height: 25vw;
  left: 20vw;
  font-size: 8vw;
  text-align: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: bottom;
  line-height: 6vw;
}
.stage-idle .counter1 {
  top: 38vw;
  padding: 5vw 12vw 0 3.5vw;
  z-index: 1;
  background-image: url("/media/images/landing-counter1.png");
}
.stage-idle .counter2 {
  top: 53vw;
  padding: 5vw 3.5vw 2vw 12vw;
  z-index: 2;
  background-image: url("/media/images/landing-counter2.png");
}
.stage-idle .counterHints {
  font-size: 4vw;
  display: flex;
  height: 6vw;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.stage-idle .logo {
  position: absolute;
  top: 80vw;
  left: 25vw;
  width: 50vw;
  height: 16vw;
  font-size: 7vw;
  text-align: center;
  background-image: url("/media/images/logo-white.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: bottom;
}
.stage-idle .join-game-button {
  position: absolute;
  bottom: 10vh;
  left: 50%;
  width: 60vw;
  transform: translate(-50%);
  user-select: none;
}
.stage-idle .join-game-button .face {
  position: absolute;
  z-index: 1;
  bottom: 4vw;
  left: -4vw;
  width: 60vw;
  height: 20vw;
  border-radius: 10vw;
  border: 1vw solid #000000;
  background-color: #f4ead7;
  text-decoration: none;
  font-size: 10vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s;
}
.stage-idle .join-game-button .shadow:before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 50%;
  display: block;
  width: 55.8vw;
  height: 4vw;
  background-color: #000;
  transform: translate(2.2vw, 0vw) rotate(-14.9DEG) skewX(31.3deg);
  transform-origin: bottom center;
  transition: height 0.4s;
}
.stage-idle .join-game-button .shadow {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0vw;
  left: 0vw;
  display: block;
  width: 60vw;
  height: 20vw;
  border-radius: 10vw;
  background-color: #000;
  /* transition: all 0.4s; */
}
.stage-idle .join-game-button:hover .face {
  transform: translate(4vw, 4vw);
}
.stage-idle .join-game-button:hover .shadow:before {
  height: 0;
}

/* stage waiting */
.stage-waiting .marquee {
  background-image: url('/media/images/waiting.png');
}
.stage-waiting .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #49b9e9 , #eaf9fe);
  opacity: 0;
}
.stage-waiting.active .background {
  transition: opacity 0.4s;
  opacity: 1;
}

.background .texture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url('/media/images/background-logo.png'); */
  background-size: 300% auto;
  opacity: 0.4;
  /* animation: movingBackground 30s linear infinite; */
}
.movingIcon {
  position: absolute;
  left: 50%;
  width: 50%;
  opacity: 0;
}
.stage-waiting.active .movingIcon {
  opacity: 1;
  transition: opacity 1s 0.3s;
}
.movingIcon.movingIcon1 {
  animation: iconsPath 5s linear infinite;
}
.movingIcon.movingIcon2 {
  animation: iconsPath2 5s -1.25s linear infinite;
}
.movingIcon.movingIcon3 {
  animation: iconsPath 5s -2.5s linear infinite;
}
.movingIcon.movingIcon4 {
  animation: iconsPath2 5s -3.75s linear infinite;
}

/* stage-selecting */
.stage-selecting {

}
.stage-selecting .marquee {
  background-image: url('/media/images/chosing.png');
}
.stage-selecting.selected .marquee {
  background-image: url('/media/images/waiting2.png');
}
.stage-selecting .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #49b9e9 , #eaf9fe);
}

.stage-selecting .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #49b9e9 , #eaf9fe);
}

.stage-selecting .buttonsWrapper {
  position: absolute;
  top: 8vw;
  left: 8vw;
  right: 8vw;
  bottom: 8vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.stage-selecting .buttonsWrapper .button {
  flex: 0 0 33.33333333%;
  transition: all 0.6s 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.stage-selecting .buttonsWrapper .button button {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  outline: 0;
  /* background-color: #F00; */
}
.stage-selecting .buttonsWrapper .button:nth-child(1) button {
  background-color: #e7132b;
  transform: translate(100%);
}
.stage-selecting .buttonsWrapper .button:nth-child(2) button {
  background-color: #eaea62;
  transform: translate(-100%);
}
.stage-selecting .buttonsWrapper .button:nth-child(3) button {
  background-color: #71c9ee;
  transform: translate(100%);
}
.stage-selecting.active .buttonsWrapper .button button {
  transform: translate(0);
  transition: all 0.4s;
}
.stage-selecting .selected .gameButton {
  opacity: 0.4;
}
.stage-selecting .selected .gameButton.selected {
  opacity: 1;
}
.stage-selecting .contentWrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.stage-selecting.active .contentWrapper {
  transition: all 0.4s 0.6s;
  opacity: 1;
}
.stage-selecting .contentWrapper .zh,
.stage-selecting .contentWrapper .en {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 8vw;
}
.stage-selecting .contentWrapper .zh {
  animation: sportsText 10s linear infinite both;
}
.stage-selecting .contentWrapper .en {
  animation: sportsText 10s -5s linear infinite both;
}
.stage-selecting .contentWrapper .ani {
  background-image: url("/media/sprites/sports.png");
  width: 84vw;
  height: 84vw;
  background-size: 84vw 1596vw;
  position: absolute;
  top: 50%;
  /* animation: sportSpriteRun 2.5s steps(25) infinite forwards; */
}

.stage-selecting .gameButton0 .contentWrapper .zh {
  background-position: center 16.66666667%;
  background-image: url("/media/images/atheletics-zh.png");
}
.stage-selecting .gameButton0 .contentWrapper .en {
  background-position: center 16.66666667%;
  background-image: url("/media/images/atheletics-en.png");
}
.stage-selecting .gameButton0 .contentWrapper .ani {
  animation: sportSpriteRun 2.5s linear infinite forwards,
              sportSpriteRunStill 1.6s steps(8) infinite forwards;
  transform: scale(0.5);
}
.stage-selecting .gameButton1 .contentWrapper .zh {
  background-position: center 50%;
  background-image: url("/media/images/cycle-zh.png");
}
.stage-selecting .gameButton1 .contentWrapper .en {
  background-position: center 50%;
  background-image: url("/media/images/cycle-en.png");
}
.stage-selecting .gameButton1 .contentWrapper .ani {
  animation: sportSpriteCycle 2.5s linear infinite forwards,
              sportSpriteCycleStill 1.2s steps(6) infinite forwards;
}
.stage-selecting .gameButton2 .contentWrapper .zh {
  background-position: center 83.33333333%;
  background-image: url("/media/images/swim-zh.png");
}
.stage-selecting .gameButton2 .contentWrapper .en {
  background-position: center 83.33333333%;
  background-image: url("/media/images/swim-en.png");
}
.stage-selecting .gameButton2 .contentWrapper .ani {
  animation: sportSpriteSwim 2.5s linear infinite forwards,
              sportSpriteSwimStill 1.2s steps(4) infinite forwards;
}
.stage-selecting .selected .button:nth-child(odd) {
  transform: translateX(100vw);
}
.stage-selecting .selected .button:nth-child(even) {
  transform: translateX(-100vw);
}

.gacha {
  position: absolute;
  bottom: 100vh;
  left: 50%;
  width: 40vw;
  height: 40vw;
  /* background-image: url("../media/images/gacha-full.png"); */
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s 1s;
}
.stage-selecting .selected .gacha {
  opacity: 1;
  visibility: visible;
}
.stage-selecting .selected .gacha.red {
  animation: gachaDrop 3s infinite linear;
}
.stage-selecting .selected .gacha.yellow {
  animation: gachaDrop 3s -1s infinite linear;
}
.stage-selecting .selected .gacha.blue {
  animation: gachaDrop 3s -2s infinite linear;
}
.gachaTop,
.gachaBottom {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.gachaTop {
  background-position: top;
  z-index: 1;
}
.gachaBottom {
  background-position: bottom;
}
.gacha.red .gachaTop {
  background-image: url("/media/images/gacha-top-red.png");
}
.gacha.red .gachaBottom {
  background-image: url("/media/images/gacha-bottom-red.png");
}
.gacha.blue .gachaTop {
  background-image: url("/media/images/gacha-top-blue.png");
}
.gacha.blue .gachaBottom {
  background-image: url("/media/images/gacha-bottom-blue.png");
}
.gacha.yellow .gachaTop {
  background-image: url("/media/images/gacha-top-yellow.png");
}
.gacha.yellow .gachaBottom {
  background-image: url("/media/images/gacha-bottom-yellow.png");
}
/* selected */
.stage-selected .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #49b9e9 , #eaf9fe);
}
.stage-selected .marquee {
  background-image: url('/media/images/waiting2.png');
  z-index: 3;
  animation: changeMarquee 4s steps(1) forwards, marqueeLoop 30s linear infinite alternate;
}
.stage-selected.active .marquee {
  /* background-image: url('/media/images/cheerhk.png'); */
  /* transition: all 0s 5s; */
}

.stage-selected .gacha.selected {
  animation: gachaDropAndOpen 3s 1s linear forwards;
}
.stage-selected .gachaTop,
.stage-selected .gachaBottom {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.stage-selected .gacha.selected .gachaTop {
  animation: gachaDropAndOpenTop 3.5s 2s linear forwards;
}
.stage-selected .gacha.selected .gachaBottom {
  animation: gachaDropAndOpenBottom 3.5s 2s linear forwards;
}


.stage-selected .gachaTop {
  background-position: top;
  z-index: 1;
}
.stage-selected .gachaBottom {
  background-position: bottom;
}
.stage-selected .resultWrapper {
  position: absolute;
  left: 8vw;
  bottom: 0;
  top: 50vh;
  margin: auto 0;
  width: 84vw;
  height: 84vw;
  transform: scale(0);
  z-index: 0;
}
.stage-selected.active .resultWrapper {
  transform: scale(0.6);
  transition: transform 0.8s 3.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.stage-selected .result {
  position: absolute;
  background-image: url("/media/sprites/sports.png");
  /* bottom: 40vw; */
  bottom: 0;
  left: 50%;
  /* left: 0; */
  transform: translateX(-50%);
  width: 84vw;
  height: 84vw;
  background-size: 84vw 1596vw;
  /* opacity: 0; */
}
.stage-selected .title {
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.4s 3s;
  z-index: 2;
}
.stage-selected.active .title {
  transform: scaleY(1);
}
.stage-selected .gacha {
  opacity: 1;
  visibility: visible;
}
.stage-selected .gameName {
  position: absolute;
  top: 38vw;
  left: 20vw;
  width: 60vw;
  height: 18vw;
  border-radius: 10vw;
  border: 1.5vw solid #000000;
  background-color: #fcf5eb;
  opacity: 0;
  z-index: 2;
  transition: top 0.6s 3.1s, opacity 0.6s 3.1s;
}
.stage-selected.active .gameName {
  top: 40vw;
  opacity: 1;
  overflow: hidden;
}
.stage-selected .gameName .loading {
  font-size: 8vw;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  visibility: visible;
  transition: all 0s 4s;
}
.stage-selected.active .gameName .zh,
.stage-selected.active .gameName .en {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* mix-blend-mode: difference;4 */
  background-size: auto 40%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}
.stage-selected.active .gameName .loading {
  opacity: 0;
  visibility: hidden;
}
.stage-selected.active .gameName .zh {
  animation: languageSwitching 10s 2s linear infinite;
}
.stage-selected.active .gameName .en {
  animation: languageSwitching 10s 7s linear infinite;
}
.stage-selected.active .gameName.game0 .zh {
  background-image: url("/media/images/atheletics-zh-inv.png");
}
.stage-selected.active .gameName.game0 .en {
  background-image: url("/media/images/atheletics-en-inv.png");
}
.stage-selected.active .gameName.game1 .zh {
  background-image: url("/media/images/cycle-zh-inv.png");
}
.stage-selected.active .gameName.game1 .en {
  background-image: url("/media/images/cycle-en-inv.png");
}
.stage-selected.active .gameName.game2 .zh {
  background-image: url("/media/images/swim-zh-inv.png");
}
.stage-selected.active .gameName.game2 .en {
  background-image: url("/media/images/swim-en-inv.png");
}
.stage-selected.active .result {
  opacity: 1;
  transform: translateX(-50%);
  /* transition: opacity 0.4s 4.2s ease-in,
              transform 0.4s 4.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}
.stage-selected.active .result0 {
  /* background-position: 0 -4095vw; */
  animation: sportSpriteRunStill 1.6s steps(8) infinite forwards;
}
.stage-selected.active .result1 {
  background-position: 0 -2520vw;
  animation: sportSpriteCycleStill 1.2s steps(6) infinite forwards;
}
.stage-selected.active .result2 {
  background-position: 0 0;
  animation: sportSpriteSwimStill 1.2s steps(4) infinite forwards;
}

/* stage ready */
.stage-ready.active .marquee.marqueeTop,
.stage-started.active .marquee.marqueeTop {
  top: -8vw;
}
.stage-ready.active .marquee.marqueeBottom,
.stage-started.active .marquee.marqueeBottom {
  bottom: -8vw;
}
.stage-ready.active .marquee.marqueeLeft,
.stage-started.active .marquee.marqueeLeft {
  transform: translateX(-8vw) rotate(90DEG);
}
.stage-ready.active .marquee.marqueeRight,
.stage-started.active .marquee.marqueeRight {
  transform: translateX(8vw) rotate(-90DEG);
}
.fanIcon {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50vw;
  height: auto;
  transform: translateX(-50%);
}
.get-image,
.set-image {
  width: 41vw;
  height: 112vw;
  left: 50%;
  top: 35%;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, 150vh);
}
.stage-ready .get-image {
  background-image: url("/media/images/get.png");
  animation: getSetGoAni 2.5s -1s cubic-bezier(0, 1, 1, 0) forwards;
}
.stage-ready .set-image {
  background-image: url("/media/images/set.png");
  animation: getSetGoAni 2.5s 0.5s cubic-bezier(0, 1, 1, 0) forwards;
}
.shake-icon {
  position: absolute;
}
/* stage started */
.go-image {
  width: 41vw;
  height: 83vw;
  left: 50%;
  top: 35%;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%) scale(0);
  background-image: url("/media/images/go.png");
  opacity: 0;
  /* animation: getSetGoAni 5s -2s cubic-bezier(0, 1, 1, 0) forwards; */
}
.stage-started .go-image {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: all 0.4s;
}

/* stage result */
.stage-result .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #49b9e9 , #eaf9fe);
  z-index: 0;
}
.stage-result.active .marquee.marqueeTop {
  top: -8vw;
}
.stage-result.active .marquee.marqueeBottom {
  bottom: -8vw;
}
.stage-result.active .marquee.marqueeLeft {
  transform: translateX(-8vw) rotate(90DEG);
}
.stage-result.active .marquee.marqueeRight {
  transform: translateX(8vw) rotate(-90DEG);
}
.splashScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.active .splashScreen {
  transition: all 0s 3.5s;
  visibility: hidden;
}
.splashScreen .banner-wrapper {
  position: relative;
}
/* .splashScreen .banner-wrapper.bannerLot0 {
  animation: bannerLeaveRight 1.5s 2s forwards;
}
.splashScreen .banner-wrapper.bannerLot1 {
  animation: bannerLeaveLeft 1.5s 2s forwards;
} */
.splashScreen .banner-wrapper:nth-child(odd) {
  animation: bannerLeaveRight 1.5s 2s forwards;
}
.splashScreen .banner-wrapper:nth-child(even) {
  animation: bannerLeaveLeft 1.5s 2s forwards;
}
/* .splashScreen .banner-wrapper.bannerType0 {
  animation-delay: 2s;
}
.splashScreen .banner-wrapper.bannerType1 {
  animation-delay: 2.1s;
}
.splashScreen .banner-wrapper.bannerType2 {
  animation-delay: 2.2s;
}
.splashScreen .banner-wrapper.bannerType3 {
  animation-delay: 2.3s;
}
.splashScreen .banner-wrapper.bannerType4 {
  animation-delay: 2.4s;
} */
.splashScreen .banner {
  height: 10vh;
  width: 100vw;
  background-size: auto 100%;
  animation: bannerAni 10s linear forwards 2;
}
/* .splashScreen .bannerLot0 .banner {
  animation-direction: normal;
}
.splashScreen .bannerLot1 .banner {
  animation-direction: reverse;
} */
.splashScreen .banner-wrapper:nth-child(odd) .banner {
  animation-direction: normal;
}
.splashScreen .banner-wrapper:nth-child(even) .banner {
  animation-direction: reverse;
}
.splashScreen .bannerType0 .banner {
  background-image: url("/media/images/congratz-red.png");
  animation-delay: 0ms;
  animation-duration: 2s;
}
.splashScreen .bannerType1 .banner {
  background-image: url("/media/images/congratz-green.png");
  animation-delay: -0.2s;
  animation-duration: 2.2s;
}
.splashScreen .bannerType2 .banner {
  background-image: url("/media/images/congratz-yellow.png");
  animation-delay: -0.4s;
  animation-duration: 2.4s;
}
.splashScreen .bannerType3 .banner {
  background-image: url("/media/images/congratz-blue.png");
  animation-delay: -0.6s;
  animation-duration: 2.6s;
}
.splashScreen .bannerType4 .banner {
  background-image: url("/media/images/congratz-black.png");
  animation-delay: -0.8s;
  animation-duration: 2.8s;
}
.stage-result .title {
  top: 4vw;
  background-image: url("/media/images/title2.png");
  height: 26vw;
}
.stage-result .header {
  position: absolute;
  top: 34vw;
  left: 0vw;
  background-image: url("/media/images/result.png");
  width: 55vw;
  height: 6vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.stage-result .score {
  position: absolute;
  top: 40vw;
  left: 0vw;
  right: 0vw;
  display: flex;
  text-align: center;
  height: 42vw;
  background-color: #000000;
  justify-content: flex-end;
}
.stage-result .score .number {
  flex: 0 0 33.333333333%;
  background-image: url("/media/sprites/number.png");
  background-size: auto 100%;
}
.stage-result .score .number0 {
  background-position: 100% 0;
}
.stage-result .score .number1 {
  background-position: 0% 0;
}
.stage-result .score .number2 {
  background-position: 11.11111111% 0;
}
.stage-result .score .number3 {
  background-position: 22.22222222% 0;
}
.stage-result .score .number4 {
  background-position: 33.33333333% 0;
}
.stage-result .score .number5 {
  background-position: 44.44444444% 0;
}
.stage-result .score .number6 {
  background-position: 55.55555556% 0;
}
.stage-result .score .number7 {
  background-position: 66.66666667% 0;
}
.stage-result .score .number8 {
  background-position: 77.777777778% 0;
}
.stage-result .score .number9 {
  background-position: 88.888888889% 0;
}

.stage-result .unit {
  position: absolute;
  top: 100%;
  right: 0;
  width: 18vw;
  height: 9vw;
  line-height: 11.5vw;
  /* background-image: url("../media/images/result-unit.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right; */
  background-color: #fcf5eb;
  font-size: 12vw;
  padding-top: 0;
  text-transform: uppercase;
}
.stage-result .remain {
  position: absolute;
  top: 100%;
  left: 0;
  height: 9vw;
  line-height: 9vw;
  /* background-color: #fcf5eb; */
  font-size: 6vw;
}
.stage-result .remain .zh,
.stage-result .remain .en {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* height: 9vw; */
  font-size: 9.3vw;
  white-space: nowrap;
}
/* .stage-result .remain .zh {
  background-image: url("/media/images/remain-zh.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #fcf5eb;
  padding: 2.3vw 0 0 11vw;
  animation: languageSwitching 10s -5s linear infinite;

}
.stage-result .remain .en {
  background-color: #fcf5eb;
  padding: 2.3vw 0 0;
  animation: languageSwitching 10s linear infinite;
} */
.stage-result .remain {
  background-image: url("/media/images/remain-common.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  background-color: #000000;
  color: #fcf5eb;
  padding: 0 43vw 0 0;
  /* animation: languageSwitching 10s -5s linear infinite; */

}
.stage-result .bar-chart {
  position: absolute;
  top: 91vw;
  left: 0vw;
  right: 0vw;
  /* width: 17vw; */
  height: 15vw;
  padding-right: 15vw;
  background-color: #fcf5eb;
}
.stage-result .bar-chart .bar {
  height: 100%;
  width: 0;
  transition: width 1s 3.5s;
}
.stage-result .bar-chart .icon {
  width: 15vw;
  height: 15vw;
  position: absolute;
  right: 0;
  top: 0;
}
.stage-result .selected {
  position: absolute;
  background-image: url("/media/sprites/sports.png");
  left: 50%;
  width: 84vw;
  height: 84vw;
  background-size: 84vw 1596vw;
}
.stage-result .selected0 {
  /* background-position: 0 -4095vw; */
  bottom: 8vw;
  transform: translateX(-50%) scale(0.65);
  animation: sportSpriteRunStill 1.6s 2.2s steps(8) infinite forwards;
}
.stage-result .selected1 {
  background-position: 0 -2520vw;
  animation: sportSpriteCycleStill 1.2s 2.2s steps(6) infinite forwards;
  bottom: 8vw;
  transform: translateX(-50%) scale(1);
}
.stage-result .selected2 {
  background-position: 0 0;
  bottom: 2vw;
  transform: translateX(-50%) scale(0.8);
  animation: sportSpriteSwimStill 1.2s 2.2s steps(4) infinite forwards;
}
/* .stage-result .shareToFb {
  position: absolute;
  bottom: 14vw;
  left: 26vw;
  width: 48vw;
  height: 16vw;
  border-radius: 10vw;
  border: 1vw solid #000000;
  background-color: #f4ead7;
  box-shadow: 5vw 2vh 0px 0px #000;
  text-decoration: none;
}
.stage-result .shareToFb .zh,
.stage-result .shareToFb .en {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center;
}
.stage-result .shareToFb .zh {
  animation: languageSwitching 10s -5s linear infinite;
  background-image: url("/media/images/share-zh.png");
}
.stage-result .shareToFb .en {
  animation: languageSwitching 10s linear infinite;
  background-image: url("/media/images/share-en.png");
} */
.stage-result .shareToFb {
  position: absolute;
  bottom: 4vw;
  left: 50%;
  width: 60vw;
  transform: translate(-50%);
  user-select: none;
  color: #000000;
  text-decoration: none;
}
.stage-result .shareToFb .face {
  position: absolute;
  z-index: 1;
  bottom: 4vw;
  left: -4vw;
  width: 60vw;
  height: 20vw;
  border-radius: 10vw;
  border: 1vw solid #000000;
  background-color: #f4ead7;
  text-decoration: none;
  font-size: 10vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s;
}
.stage-result .shareToFb .shadow:before {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 50%;
  display: block;
  width: 55.8vw;
  height: 4vw;
  background-color: #000;
  transform: translate(2.2vw, 0vw) rotate(-14.9DEG) skewX(31.3deg);
  transform-origin: bottom center;
  transition: height 0.4s;
}
.stage-result .shareToFb .shadow {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0vw;
  left: 0vw;
  display: block;
  width: 60vw;
  height: 20vw;
  border-radius: 10vw;
  background-color: #000;
  /* transition: all 0.4s; */
}
.stage-result .shareToFb:hover .face {
  transform: translate(4vw, 4vw);
}
.stage-result .shareToFb:hover .shadow:before {
  height: 0;
}

.stage-offline.active .marquee.marqueeTop {
  top: -8vw;
}
.stage-offline.active .marquee.marqueeBottom {
  bottom: -8vw;
}
.stage-offline.active .marquee.marqueeLeft {
  transform: translateX(-8vw) rotate(90DEG);
}
.stage-offline.active .marquee.marqueeRight {
  transform: translateX(8vw) rotate(-90DEG);
}
.stage-offline .alertText {
  position: absolute;
  top: 50%;
  left: 15vw;
  width: 70vw;
  transform: translateY(-50%);
  text-align: center;
  font-size: 10vw;
}

.preloadWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #49b9e9 , #eaf9fe);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s 0.6s;
}
.preloadWrapper.active {
  opacity: 1;
  visibility: visible;
}
.preloadWrapper .progress {
  width: 50vw;
  border: 2px solid #000000;
  height: 3vh;
  border-radius: 3vh;
  overflow: hidden;
}
.preloadWrapper .progress .bar {
  height: 100%;
  background-color: #ed334e;
  transition: width 0.4s;
}
.preloadWrapper .percent {
  padding-top: 1vh;
  font-size: 5vw;
}
/* animations */
@keyframes marqueeLoop {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -600vw;
  }
}
@keyframes languageSwitching {
  0%, 20% {
    opacity: 0;
  }
  30%, 70% {
    opacity: 1;
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes movingBackground {
  0% {
    background-position: 0 0%;
  }
  100% {
    background-position: 0 3000%;
  }
}
@keyframes iconsPath {
  0% {
    top: -25%;
    transform: translate(-50%, -100%) rotate(30DEG);
  }
  /* 50% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45DEG);
  } */
  100% {
    top: 125%;
    transform: translate(-50%, 0%) rotate(-60DEG);
  }
}
@keyframes iconsPath2 {
  0% {
    top: -25%;
    transform: translate(-50%, -100%) rotate(-30DEG);
  }
  /* 50% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45DEG);
  } */
  100% {
    top: 125%;
    transform: translate(-50%, 0%) rotate(60DEG);
  }
}
@keyframes sportsText {
  0% {
    left: 0;
    right: 100%;
  }
  25%, 50% {
    left: 0;
    right: 0;
  }
  75%, 100% {
    left: 100%;
    right: 0;
  }
  
}
@keyframes sportSpriteRun {
  0% {
    /* background-position: 0 -0vw; */
    transform: translate(-50%, -50%) scale(0.35);
  }
  100% {
    /* background-position: 0 -672vw; */
    transform: translate(50%, -50%) scale(0.35);
  }
}
@keyframes sportSpriteCycle {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    transform: translate(50%, -50%) scale(0.5);
  }
}
@keyframes sportSpriteSwim {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
  }
  100% {
    transform: translate(50%, -50%) scale(0.5);
  }
}
@keyframes sportSpriteRunStill {
  0% {
    background-position: 0 0vw;
  }
  100% {
    background-position: 0 -672vw;
  }
}
@keyframes sportSpriteCycleStill {
  0% {
    background-position: 0 -756vw;
  }
  100% {
    background-position: 0 -1260vw;
  }
}
@keyframes sportSpriteSwimStill {
  0% {
    background-position: 0 -1260vw;
  }
  100% {
    background-position: 0 -1596vw;
  }
}
@keyframes gachaDrop {
  0% {
    bottom: 100vh;
    transform: translateX(-50%) rotate(-360DEG);
  }
  100% {
    bottom: -40vw;
    transform: translateX(-50%) rotate(0DEG);
  }
}
@keyframes gachaDropAndOpen {
  0% {
    top: auto;
    bottom: 100%;
    left: 50vw;
    transform: translate(-50%, 0) rotate(-360DEG);
  }
  10% {
    /* top: auto; */
    bottom: 8vw;
    left: 50vw;
    transform: translate(-50%, 0) rotate(-300DEG);
  }
  20% {
    /* top: auto; */
    bottom: 50%;
    left: 8vw;
    transform: translate(0%, 50%) rotate(-240DEG);
  }
  30% {
    /* bottom: calc(100vh - 8vw); */
    bottom: 100%;
    /* top: 8vw; */
    /* bottom: auto; */
    left: 50vw;
    transform: translate(-50%, 100%) translate(0, 8vw) rotate(-180DEG);
  }
  40% {
    /* top: auto; */
    bottom: 50%;
    left: 72vw;
    transform: translate(-50%, 50%) rotate(-120DEG);
  }
  50% {
    /* top: auto; */
    bottom: 8vw;
    left: 65vw;
    transform: translate(-50%, 0%) rotate(-60DEG);
  }
  57%, 100% {
    /* top: auto; */
    bottom: 25%;
    left: 50vw;
    transform: translate(-50%, 50%) rotate(-35DEG);
  }
}
@keyframes gachaDropAndOpenTop {
  0%, 50% {
    top: 0;
    transform: rotate(0DEG);
  }
  65%, 100% {
    top: -100vw;
    transform: rotate(-30DEG);
  }
}
@keyframes gachaDropAndOpenBottom {
  0%, 50% {
    top: 0;
    transform: rotate(0DEG);
  }
  65%, 100% {
    top: 100vw;
    transform: rotate(30DEG);
  }
}
@keyframes getSetGoAni {
  0% {
    transform: translate(-50%, 150vh);
    opacity: 0.1;
  }
  50% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50vh);
    opacity: 0;
  }
}

@keyframes bannerAni {
  0% {
    background-position: -45.27777778vh 0;
  }
  100% {
    background-position: 45.27777778vh 0;
  }
}

@keyframes bannerLeaveLeft {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}
@keyframes bannerLeaveRight {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes changeMarquee {
  0% {
    background-image: url('/media/images/waiting2.png');
  }
  100% {
    background-image: url('/media/images/cheerhk.png');
  }
}
/* .joinButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7vw;
  padding: 15vw 0vw;
  appearance: none;
  outline: 0;
  width: 90%;
  background-color: #FFFFFF;
  border: 1px solid #535353;
  color: #535353;
  line-height: 2;
  text-align: center;
  touch-action: manipulation;
  font-family: PressStart, Arial, Helvetica, sans-serif;
}
.selectButton {
  font-size: 7vw;
  padding: 10vw 0vw;
  background-color: #FFFFFF;
  appearance: none;
  border: 1px solid #535353;
  color: #535353;
  outline: 0;
  width: 90%;
  margin-bottom: 1vh;
  text-align: center;
  touch-action: manipulation;
  font-family: PressStart, Arial, Helvetica, sans-serif;
}
.selectButton.selected {
  background-color: #535353;
  color: #FFFFFF;
}
.score {
  font-size: 1.5em;
}
.shareToFb {
  margin-top: 15px;
  padding: 15px 30px;
  border-radius: 20px;
  display: inline-block;
  background-color: #535353;
  color: #FFFFFF;
  text-decoration: none;
} */