.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  touch-action: manipulation;
  color: #535353;
  font-family: SpaceGrotesk, Arial, Helvetica, sans-serif;
}

/* marquee */
.marquee {
  position: absolute;
  background-size: auto 8vw;
  background-repeat: repeat-x;
  animation: marqueeLoop 30s linear infinite alternate;
  background-color: #fcf5eb;
}
.marquee.marqueeTop,
.marquee.marqueeBottom {
  width: 100%;
  height: 8vw;
}
.marquee.marqueeLeft,
.marquee.marqueeRight {
  width: 100vh;
  height: 8vw;
  z-index: 1;
}
.marquee.marqueeTop {
  top: -8vw;
  left: 0;
  animation: marqueeLoop 30s -30s linear infinite alternate;
}
.stage.active .marquee.marqueeTop {
  top: 0;
  transition: all 0.4s 0.2s;
}
.marquee.marqueeBottom {
  bottom: -8vw;
  left: 0;
}
.stage.active .marquee.marqueeBottom {
  bottom: 0;
  transition: all 0.4s 0.2s;
}
.marquee.marqueeLeft {
  transform: translateX(-8vw) rotate(90DEG);
  bottom: 0%;
  right: 100%;
  transform-origin: bottom right;
}
.stage.active .marquee.marqueeLeft {
  transform: translateX(0) rotate(90DEG);
  transition: all 0.4s 0.25s;
}
.marquee.marqueeRight {
  transform: translateX(8vw) rotate(-90DEG);
  bottom: 0%;
  left: 100%;
  transform-origin: bottom left;
  transition: none;
}
.stage.active .marquee.marqueeRight {
  transform: translateX(0) rotate(-90DEG);
  transition: all 0.4s 0.25s;
}
/* marquee end */

/* stage general */
.stage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* stage idle */

.stage-idle .marquee {
  background-image: url('../media/images/idle.png');
}
.stage-idle .joinButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7vw;
  padding: 15vw 0vw;
  appearance: none;
  outline: 0;
  width: 90%;
  background-color: #FFFFFF;
  border: 1px solid #535353;
  color: #535353;
  line-height: 2;
  text-align: center;
  touch-action: manipulation;
  font-family: PressStart, Arial, Helvetica, sans-serif;
}
.stage-idle .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #49b9e9 , #eaf9fe);
  z-index: 0;
}
.stage-idle .title {
  position: absolute;
  top: 8vw;
  left: 15vw;
  width: 70vw;
  height: 48vw;
  background-image: url("../media/images/title.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: bottom;
}
.stage-idle .counter {
  position: absolute;
  width: 70vw;
  height: 48vw;
  /* background-image: url("../media/images/title.png"); */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: bottom;
}
.stage-idle .counter1 {
  top: 48vw;
  left: 15vw;
  width: 70vw;
  height: 25vw;
  padding: 4vw 12vw 0 2vw;
  font-size: 7vw;
  text-align: center;
  z-index: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../media/images/landing-counter1.png");
}
.stage-idle .counter1 .background-en,
.stage-idle .counter1 .background-zh,
.stage-idle .counter2 .background-en,
.stage-idle .counter2 .background-zh {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.stage-idle .counter1 .background-en {
  background-image: url("../media/images/landing-counter1-en.png");
  animation: languageSwitching 10s linear infinite;

}
.stage-idle .counter1 .background-zh {
  background-image: url("../media/images/landing-counter1-zh.png");
  animation: languageSwitching 10s -5s linear infinite;

}
.stage-idle .counter2 {
  top: 71.5vw;
  left: 15vw;
  width: 70vw;
  height: 25vw;
  padding: 4vw 0 2vw 12vw;
  font-size: 7vw;
  text-align: center;
  z-index: 1;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../media/images/landing-counter2.png");
}
.stage-idle .counter2 .background-en {
  background-image: url("../media/images/landing-counter2-en.png");
  animation: languageSwitching 10s linear infinite;
}
.stage-idle .counter2 .background-zh {
  background-image: url("../media/images/landing-counter2-zh.png");
  animation: languageSwitching 10s -5s linear infinite;
}
.stage-idle .logo {
  position: absolute;
  top: 104vw;
  left: 28vw;
  width: 50vw;
  height: 16vw;
  font-size: 7vw;
  text-align: center;
  background-image: url("../media/images/logo-white.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: bottom;
}
.stage-idle .join-game {
  position: absolute;
  bottom: 10vh;
  left: 16vw;
  width: 60vw;
  height: 20vw;
  border-radius: 10vw;
  border: 1vw solid #000000;
  background-color: #f4ead7;
  box-shadow: 5vw 2vh 0px 0px #000;
  text-decoration: none;
}
.stage-idle .join-game .text-en,
.stage-idle .join-game .text-zh {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.stage-idle .join-game .text-en {
  background-image: url("../media/images/join-game-en.png");
  background-size: 70% auto;
  animation: languageSwitching 10s linear infinite;
}
.stage-idle .join-game .text-zh {
  background-image: url("../media/images/join-game-zh.png");
  background-size: 50% auto;
  animation: languageSwitching 10s -5s linear infinite;
}
/* stage waiting */
.stage-waiting .marquee {
  background-image: url('../media/images/waiting.png');
}
.stage-waiting .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #49b9e9 , #eaf9fe);
  opacity: 0;
}
.stage-waiting.active .background {
  transition: opacity 0.4s;
  opacity: 1;
}

.background .texture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../media/images/background-logo.png');
  background-size: 300% auto;
  opacity: 0.4;
  /* animation: movingBackground 30s linear infinite; */
}
.background .movingIcon {
  position: absolute;
  left: 50%;
  width: 50%;
  opacity: 0;
}
.stage-waiting.active .background .movingIcon {
  opacity: 1;
  transition: opacity 1s 0.3s;
}
.background .movingIcon.movingIcon1 {
  animation: iconsPath 5s linear infinite;
}
.background .movingIcon.movingIcon2 {
  animation: iconsPath2 5s -1.25s linear infinite;
}
.background .movingIcon.movingIcon3 {
  animation: iconsPath 5s -2.5s linear infinite;
}
.background .movingIcon.movingIcon4 {
  animation: iconsPath2 5s -3.75s linear infinite;
}

/* stage-selecting */
.stage-selecting {

}
.stage-selecting .marquee {
  background-image: url('../media/images/chosing.png');
}
.stage-selecting.selected .marquee {
  background-image: url('../media/images/waiting.png');
}
.stage-selecting .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #49b9e9 , #eaf9fe);
}

.stage-selecting .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #49b9e9 , #eaf9fe);
}

.stage-selecting .buttonsWrapper {
  position: absolute;
  top: 8vw;
  left: 8vw;
  right: 8vw;
  bottom: 8vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.stage-selecting .buttonsWrapper .button {
  flex: 0 0 33.33333333%;
  transition: all 0.4s;
}
.stage-selecting .buttonsWrapper .button button {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  outline: 0;
  /* background-color: #F00; */
}
.stage-selecting .buttonsWrapper .button:nth-child(1) button {
  background-color: #cf2540;
  transform: translate(100%);
}
.stage-selecting .buttonsWrapper .button:nth-child(2) button {
  background-color: #a89771;
  transform: translate(-100%);
}
.stage-selecting .buttonsWrapper .button:nth-child(3) button {
  background-color: #65c2e6;
  transform: translate(100%);
}
.stage-selecting.active .buttonsWrapper .button button {
  transform: translate(0);
  transition: all 0.4s 0.4s;
}
.stage-selecting.selected .gameButton {
  opacity: 0.4;
}
.stage-selecting.selected .gameButton.selected {
  opacity: 1;
}
.stage-selecting .contentWrapper {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.stage-selecting.active .contentWrapper {
  transition: all 0.4s 0.6s;
  opacity: 1;
}
.stage-selecting .contentWrapper .zh,
.stage-selecting .contentWrapper .en {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%; */
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 8vw;
}
.stage-selecting .contentWrapper .zh {
  animation: sportsText 10s linear infinite both;
}
.stage-selecting .contentWrapper .en {
  animation: sportsText 10s -5s linear infinite both;
}
.stage-selecting .contentWrapper .ani {
  background-image: url("../media/sprite/sports.png");
  width: 84vw;
  height: 63vw;
  background-size: 84vw 5670vw;
  position: absolute;
  top: 50%;
  /* animation: sportSpriteRun 2.5s steps(25) infinite forwards; */
}

.stage-selecting .gameButton0 .contentWrapper .zh {
  background-position: center calc(16.66666667vh + 2vw);
  background-image: url("../media/images/atheletics-zh.png");
}
.stage-selecting .gameButton0 .contentWrapper .en {
  background-position: center calc(16.66666667vh + 2vw);
  background-image: url("../media/images/atheletics-en.png");
}
.stage-selecting .gameButton0 .contentWrapper .ani {
  animation: sportSpriteRun 2.5s steps(25) infinite forwards;
}
.stage-selecting .gameButton1 .contentWrapper .zh {
  background-position: center calc(50vh - 4vw);
  background-image: url("../media/images/cycle-zh.png");
}
.stage-selecting .gameButton1 .contentWrapper .en {
  background-position: center calc(50vh - 4vw);
  background-image: url("../media/images/cycle-en.png");
}
.stage-selecting .gameButton1 .contentWrapper .ani {
  animation: sportSpriteCycle 2.5s steps(23) infinite forwards;
}
.stage-selecting .gameButton2 .contentWrapper .zh {
  background-position: center calc(83.33333333vh - 8vw);
  background-image: url("../media/images/swim-zh.png");
}
.stage-selecting .gameButton2 .contentWrapper .en {
  background-position: center calc(83.33333333vh - 8vw);
  background-image: url("../media/images/swim-en.png");
}
.stage-selecting .gameButton2 .contentWrapper .ani {
  animation: sportSpriteSwim 2.5s steps(21) infinite forwards;
}

/* selected */
.stage-selected .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #49b9e9 , #eaf9fe);
}
.stage-selected .marquee {
  background-image: url('../media/images/cheerhk.png');
}
.stage-selected .gacha {
  position: absolute;
  bottom: 100vh;
  left: 0;
  width: 40vw;
  height: 40vw;
  /* background-image: url("../media/images/gacha-full.png"); */
  background-size: contain;
  background-repeat: no-repeat;
}
.stage-selected .gachaTop {
  background-image: url("../media/images/gacha-top.png");
  background-position: top;
  z-index: 1;
}
.stage-selected .gachaBottom {
  background-image: url("../media/images/gacha-bottom.png");
  background-position: bottom;
}
.stage-selected.active .gachaTop {
  animation: gachaDropTop 3s linear both;
}
.stage-selected.active .gachaBottom {
  animation: gachaDropBottom 3s linear both;
}
.stage-selected .result {
  position: absolute;
  background-image: url("../media/sprite/sports.png");
  bottom: 20vh;
  left: 50%;
  transform: translateX(-50%) scale(0);
  width: 84vw;
  height: 63vw;
  background-size: 84vw 5670vw;
  opacity: 0;
}
.stage-selected .title {
  position: absolute;
  top: 16vw;
  left: 15vw;
  width: 70vw;
  height: 48vw;
  background-image: url("../media/images/title.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: scaleY(0);
  transform-origin: bottom;
}
.stage-selected.active .title {
  transform: scaleY(1);
  transition: transform 0.4s 1.8s;
}
.stage-selected .gameName {
  position: absolute;
  top: 51vw;
  left: 16.75vw;
  width: 66.5vw;
  height: 20vw;
  border-radius: 10vw;
  border: 1.5vw solid #000000;
  background-color: #fcf5eb;
  opacity: 0;
}
.stage-selected.active .gameName {
  transition: opacity 0.4s 2.1s;
  opacity: 1;
  overflow: hidden;
}
.stage-selected.active .gameName .zh,
.stage-selected.active .gameName .en {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: difference;
  background-size: auto 40%;
  background-repeat: no-repeat;
  background-position: center;
}
.stage-selected.active .gameName .zh {
  animation: languageSwitching 10s -5s linear infinite;
}
.stage-selected.active .gameName .en {
  animation: languageSwitching 10s linear infinite;
}
.stage-selected.active .gameName.game0 .zh {
  background-image: url("../media/images/atheletics-zh-inv.png");
}
.stage-selected.active .gameName.game0 .en {
  background-image: url("../media/images/atheletics-en-inv.png");
}
.stage-selected.active .gameName.game1 .zh {
  background-image: url("../media/images/cycle-zh-inv.png");
}
.stage-selected.active .gameName.game1 .en {
  background-image: url("../media/images/cycle-en-inv.png");
}
.stage-selected.active .gameName.game2 .zh {
  background-image: url("../media/images/swim-zh-inv.png");
}
.stage-selected.active .gameName.game2 .en {
  background-image: url("../media/images/swim-en-inv.png");
}
.stage-selected.active .result {
  opacity: 1;
  transform: translateX(-50%) scale(1.5);
  transition: opacity 0.4s 2.05s ease-in,
              transform 0.4s 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.stage-selected.active .result0 {
  background-position: 0 -4095vw;
  animation: sportSpriteRunStill 2.5s 2.2s steps(25) infinite forwards;
}
.stage-selected.active .result1 {
  background-position: 0 -2520vw;
  animation: sportSpriteCycleStill 2.5s 2.2s steps(23) infinite forwards;
}
.stage-selected.active .result2 {
  background-position: 0 0;
  animation: sportSpriteSwimStill 2.5s 2.2s steps(21) infinite forwards;
}

/* stage ready */
.stage-ready {
}
.stage-ready .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #49b9e9 , #eaf9fe);
}
.fanIcon {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60vw;
  height: auto;
  transform: translateX(-50%);
}
.get-image,
.set-image {
  width: 41vw;
  height: 112vw;
  left: 50%;
  top: 35%;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, 150vh);
}
.get-image {
  background-image: url("../media/images/get.png");
  animation: getSetGoAni 2.5s -1s cubic-bezier(0, 1, 1, 0) forwards;
}
.set-image {
  background-image: url("../media/images/set.png");
  animation: getSetGoAni 2.5s 0.5s cubic-bezier(0, 1, 1, 0) forwards;
}
.shake-icon {
  position: absolute;
}
/* stage started */
.stage-started .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #49b9e9 , #eaf9fe);
}
.go-image {
  width: 41vw;
  height: 83vw;
  left: 50%;
  top: 35%;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%) scale(0);
  background-image: url("../media/images/go.png");
  opacity: 0;
  /* animation: getSetGoAni 5s -2s cubic-bezier(0, 1, 1, 0) forwards; */
}
.stage-started.active .go-image {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: all 0.4s;
}

/* stage result */
.stage-result .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #49b9e9 , #eaf9fe);
  z-index: 0;
}
.splashScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.active .splashScreen {
  transition: all 0s 3.5s;
  visibility: hidden;
}
.splashScreen .banner-wrapper {
  position: relative;
}
.splashScreen .banner-wrapper.bannerLot0 {
  animation: bannerLeaveRight 1.5s 2s forwards;
}
.splashScreen .banner-wrapper.bannerLot1 {
  animation: bannerLeaveLeft 1.5s 2s forwards;
}
.splashScreen .banner-wrapper.bannerType0 {
  animation-delay: 2s;
}
.splashScreen .banner-wrapper.bannerType1 {
  animation-delay: 2.1s;
}
.splashScreen .banner-wrapper.bannerType2 {
  animation-delay: 2.2s;
}
.splashScreen .banner-wrapper.bannerType3 {
  animation-delay: 2.3s;
}
.splashScreen .banner-wrapper.bannerType4 {
  animation-delay: 2.4s;
}
.splashScreen .banner {
  height: 10vh;
  width: 100vw;
  background-size: auto 100%;
  animation: bannerAni 10s linear forwards 2;
}
.splashScreen .bannerLot0 .banner {
  animation-direction: normal;
}
.splashScreen .bannerLot1 .banner {
  animation-direction: reverse;
}
.splashScreen .bannerType0 .banner {
  background-image: url("../media/images/congratz-red.png");
  animation-delay: 0ms;
  animation-duration: 2s;
}
.splashScreen .bannerType1 .banner {
  background-image: url("../media/images/congratz-green.png");
  animation-delay: -0.2s;
  animation-duration: 2.2s;
}
.splashScreen .bannerType2 .banner {
  background-image: url("../media/images/congratz-yellow.png");
  animation-delay: -0.4s;
  animation-duration: 2.4s;
}
.splashScreen .bannerType3 .banner {
  background-image: url("../media/images/congratz-blue.png");
  animation-delay: -0.6s;
  animation-duration: 2.6s;
}
.splashScreen .bannerType4 .banner {
  background-image: url("../media/images/congratz-black.png");
  animation-delay: -0.8s;
  animation-duration: 2.8s;
}
.stage-result .title {
  position: absolute;
  top: 4vw;
  left: 15vw;
  width: 70vw;
  height: 48vw;
  background-image: url("../media/images/title.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.stage-result .header {
  position: absolute;
  top: 42vw;
  left: 8vw;
  background-image: url("../media/images/result.png");
  width: 55vw;
  height: 11vw;
  background-size: contain;
  background-repeat: no-repeat;
}
.stage-result .score {
  position: absolute;
  top: 53vw;
  left: 8vw;
  right: 8vw;
  display: flex;
  text-align: center;
  height: 35vw;
  background-color: #000000;
  justify-content: flex-end;
}
.stage-result .score .number {
  flex: 0 0 33.333333333%;
  background-image: url("../media/sprite/number.png");
  background-size: auto 100%;
}
.stage-result .score .number0 {
  background-position: 100% 0;
}
.stage-result .score .number1 {
  background-position: 0% 0;
}
.stage-result .score .number2 {
  background-position: 11.11111111% 0;
}
.stage-result .score .number3 {
  background-position: 22.22222222% 0;
}
.stage-result .score .number4 {
  background-position: 33.33333333% 0;
}
.stage-result .score .number5 {
  background-position: 44.44444444% 0;
}
.stage-result .score .number6 {
  background-position: 55.55555556% 0;
}
.stage-result .score .number7 {
  background-position: 66.66666667% 0;
}
.stage-result .score .number8 {
  background-position: 77.777777778% 0;
}
.stage-result .score .number9 {
  background-position: 88.888888889% 0;
}

.stage-result .unit {
  position: absolute;
  top: 100%;
  right: 0;
  width: 17vw;
  height: 9vw;
  /* background-image: url("../media/images/result-unit.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right; */
  background-color: #fcf5eb;
  font-size: 6vw;
  padding-top: 2.3vw;
}
.stage-result .remain {
  position: absolute;
  top: 100%;
  left: 0;
  height: 9vw;
  background-color: #fcf5eb;
  font-size: 6vw;
}
.stage-result .remain .zh,
.stage-result .remain .en {
  position: absolute;
  top: 0;
  left: 0;
  height: 9vw;
  font-size: 6vw;
  white-space: nowrap;
}
.stage-result .remain .zh {

  /* width: 17vw; */
  background-image: url("../media/images/remain-zh.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #fcf5eb;
  padding: 2.3vw 0 0 11vw;
  animation: languageSwitching 10s -5s linear infinite;

}
.stage-result .remain .en {
  background-color: #fcf5eb;
  padding: 2.3vw 0 0;
  animation: languageSwitching 10s linear infinite;
}
.stage-result .bar-chart {
  position: absolute;
  top: 97vw;
  left: 8vw;
  right: 8vw;
  /* width: 17vw; */
  height: 15vw;
  padding-right: 15vw;
  background-color: #fcf5eb;
}
.stage-result .bar-chart .bar {
  height: 100%;
  width: 0;
  transition: width 1s 3.5s;
}
.stage-result .bar-chart .icon {
  width: 15vw;
  height: 15vw;
  position: absolute;
  right: 0;
  top: 0;
}
.stage-result .selected {
  position: absolute;
  background-image: url("../media/sprite/sports.png");
  left: 50%;
  width: 84vw;
  height: 63vw;
  background-size: 84vw 5670vw;
}
.stage-result .selected0 {
  background-position: 0 -4095vw;
  bottom: 20vh;
  transform: translateX(-50%) scale(1.5);
  animation: sportSpriteRunStill 2.5s 2.2s steps(25) infinite forwards;
}
.stage-result .selected1 {
  background-position: 0 -2520vw;
  animation: sportSpriteCycleStill 2.5s 2.2s steps(23) infinite forwards;
  bottom: 19vh;
  transform: translateX(-50%) scale(1.7);
}
.stage-result .selected2 {
  background-position: 0 0;
  bottom: 15vh;
  transform: translateX(-50%) scale(1.5);
  animation: sportSpriteSwimStill 2.5s 2.2s steps(21) infinite forwards;
}
.stage-result .shareToFb {
  position: absolute;
  bottom: 10vh;
  left: 26vw;
  width: 48vw;
  height: 16vw;
  border-radius: 10vw;
  border: 1vw solid #000000;
  background-color: #f4ead7;
  box-shadow: 5vw 2vh 0px 0px #000;
  text-decoration: none;
}
.stage-result .shareToFb .zh,
.stage-result .shareToFb .en {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center;
}
.stage-result .shareToFb .zh {
  animation: languageSwitching 10s -5s linear infinite;
  background-image: url("../media/images/share-zh.png");
}
.stage-result .shareToFb .en {
  animation: languageSwitching 10s linear infinite;
  background-image: url("../media/images/share-en.png");
}
/* animations */
@keyframes marqueeLoop {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: -600vw;
  }
}
@keyframes languageSwitching {
  0%, 20% {
    opacity: 0;
  }
  30%, 70% {
    opacity: 1;
  }
  80%, 100% {
    opacity: 0;
  }
}
@keyframes movingBackground {
  0% {
    background-position: 0 0%;
  }
  100% {
    background-position: 0 3000%;
  }
}
@keyframes iconsPath {
  0% {
    top: -25%;
    transform: translate(-50%, -100%) rotate(30DEG);
  }
  /* 50% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45DEG);
  } */
  100% {
    top: 125%;
    transform: translate(-50%, 0%) rotate(-60DEG);
  }
}
@keyframes iconsPath2 {
  0% {
    top: -25%;
    transform: translate(-50%, -100%) rotate(-30DEG);
  }
  /* 50% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45DEG);
  } */
  100% {
    top: 125%;
    transform: translate(-50%, 0%) rotate(60DEG);
  }
}
@keyframes sportsText {
  0% {
    left: 0;
    right: 100%;
  }
  25%, 50% {
    left: 0;
    right: 0;
  }
  75%, 100% {
    left: 100%;
    right: 0;
  }
  
}
@keyframes sportSpriteRun {
  0% {
    background-position: 0 -4095vw;
    transform: translate(-50%, -50%);
  }
  100% {
    background-position: 0 -5670vw;
    transform: translate(50%, -50%);
  }
}
@keyframes sportSpriteCycle {
  0% {
    background-position: 0 -2520vw;
    transform: translate(-50%, -50%);
  }
  100% {
    background-position: 0 -3969vw;
    transform: translate(50%, -50%);
  }
}
@keyframes sportSpriteSwim {
  0% {
    background-position: 0 0;
    transform: translate(-50%, -50%);
  }
  100% {
    background-position: 0 -1323vw;
    transform: translate(50%, -50%);
  }
}
@keyframes sportSpriteRunStill {
  0% {
    background-position: 0 -4095vw;
  }
  100% {
    background-position: 0 -5670vw;
  }
}
@keyframes sportSpriteCycleStill {
  0% {
    background-position: 0 -2520vw;
  }
  100% {
    background-position: 0 -3969vw;
  }
}
@keyframes sportSpriteSwimStill {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -1323vw;
  }
}

@keyframes gachaDropTop {
  0% {
    left: 20vw;
    bottom: 100vh;
    transform: translateX(-50%) rotate(-720DEG);
  }
  30% {
    bottom: 20vh;
  }
  43% {
    bottom: 30vh;
  }
  45% {
    bottom: 30.5vh;
  }
  47% {
    bottom: 30vh;
  }
  60% {
    left: 50vw;
    bottom: 20vh;
    transform: translateX(-50%) rotate(0DEG);
  }
  70% {
    left: 50vw;
    bottom: 20vh;
    transform: translateX(-50%) rotate(0DEG);
  }
  90%,
  100% {
    left: -20vw;
    bottom: 80vh;
    transform: translateX(-50%) rotate(-180DEG);
  }
}
@keyframes gachaDropBottom {
  0% {
    left: 20vw;
    bottom: 100vh;
    transform: translateX(-50%) rotate(-720DEG);
  }
  30% {
    bottom: 20vh;
  }
  43% {
    bottom: 30vh;
  }
  45% {
    bottom: 30.5vh;
  }
  47% {
    bottom: 30vh;
  }
  60% {
    left: 50vw;
    bottom: 20vh;
    transform: translateX(-50%) rotate(0DEG);
  }
  70% {
    left: 50vw;
    bottom: 20vh;
    transform: translateX(-50%) rotate(0DEG);
  }
  90%,
  100% {
    left: 120vw;
    bottom: -20vh;
    transform: translateX(-50%) rotate(180DEG);
  }
}
@keyframes getSetGoAni {
  0% {
    transform: translate(-50%, 150vh);
    opacity: 0.1;
  }
  50% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50vh);
    opacity: 0;
  }
}

@keyframes bannerAni {
  0% {
    background-position: -45.27777778vh 0;
  }
  100% {
    background-position: 45.27777778vh 0;
  }
}

@keyframes bannerLeaveLeft {
  0% {
    right: 0;
  }
  100% {
    right: 100%;
  }
}
@keyframes bannerLeaveRight {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
/* .joinButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7vw;
  padding: 15vw 0vw;
  appearance: none;
  outline: 0;
  width: 90%;
  background-color: #FFFFFF;
  border: 1px solid #535353;
  color: #535353;
  line-height: 2;
  text-align: center;
  touch-action: manipulation;
  font-family: PressStart, Arial, Helvetica, sans-serif;
}
.selectButton {
  font-size: 7vw;
  padding: 10vw 0vw;
  background-color: #FFFFFF;
  appearance: none;
  border: 1px solid #535353;
  color: #535353;
  outline: 0;
  width: 90%;
  margin-bottom: 1vh;
  text-align: center;
  touch-action: manipulation;
  font-family: PressStart, Arial, Helvetica, sans-serif;
}
.selectButton.selected {
  background-color: #535353;
  color: #FFFFFF;
}
.score {
  font-size: 1.5em;
}
.shareToFb {
  margin-top: 15px;
  padding: 15px 30px;
  border-radius: 20px;
  display: inline-block;
  background-color: #535353;
  color: #FFFFFF;
  text-decoration: none;
} */